@import '../../variaveis';

.container {
  width: fit-content;
  height: auto;
  padding-top: 2rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: .5rem;

  &__titulo {
    color: $roxo;
    font-family: $fonte-padrao;
    margin: 0;
    text-shadow: 2px 2px 2px $azul-escuro;
    font-size: 4rem;
    width: fit-content;

    & p{
      margin: 1rem 0;
    }
  }

  &__sobre {
    color: $roxo;
    font-family: $fonte-padrao;
    margin: 0;
    text-shadow: 2px 2px 2px $azul-escuro;
    font-size: 3rem;
    width: fit-content;
  }

  &__texto {
    max-width: calc((100vw / 2) + 2em);
    font-size: 1.8rem;
    color: $roxo;
    font-family: $fonte-padrao;
    margin: 0;
    text-shadow: 2px 2px 2px $azul-escuro;
  }

  @media screen and (max-width: 425px) {
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    &__titulo {
      font-size: 2.5rem;
      text-align: center;
    }

    &__sobre {
      font-size: 1.5rem;
      text-align: center;
    }

    &__texto {
      font-size: 1.1rem;
      max-width: fit-content;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: column;

    &__titulo {
      font-size: 3rem;
      text-align: center;
    }

    &__sobre {
      text-align: center;
    }

    &__texto {
      font-size: 1.4rem;
      max-width: fit-content;
      text-align: center;
    }
  }
}