@font-face {
  font-family: 'Blackmore';
  src: url(../src/assets/FontBlackmore/Blackmore-mLogv.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Blackmore', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  align-items: center;
}

code {
  font-family: 'Blackmore', sans-serif;
}